*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../images/bg_1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -50px;
    background-size: 1920px 750px;
}
.main{
    width: 600px;
    height: 330px;
    border-radius: 10px;
    border: 1px solid rgb(23, 179, 57);
    margin: 120px auto;
    background-color: rgba(0, 0, 0, 0.7);
}
h2{
    margin-top: 50px;
    text-align: center;
    color:  rgb(24, 226, 68);
}
ul{
    list-style: none;
}
li{
    width: 240px;
    height: 45px;
    line-height: 45px;
    margin-bottom: 8px;
}
li:nth-of-type(1){
    background-image: url("../images/user.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-y: 10px;
}
li:nth-of-type(2){
    background-image: url("../images/password.png");
    background-size: 35px;
    background-repeat: no-repeat;
    background-position-x: -2px ;
    background-position-y: 10px;
}
li:nth-of-type(1) input,
li:nth-of-type(2) input
{
    width: 235x;
    height: 31px;
    padding: 2px 15px;
    outline: 0;
    margin-left: 40px;
    border: 1px solid rgb(24, 226, 68);
    background-color: rgb(238, 255, 241);
}
li:nth-of-type(3) input{
    width: 105px;
    height: 36px;
    outline: 0;
    margin-top: 6px;
    margin-left: 15px;
    background-color: rgb(24, 226, 68);
    font-weight: bold;
    font-size: 18px;
    border: 0;
}
li:nth-of-type(3) input:hover{
    background-color: rgb(8, 196, 49);
}
.inp{
    text-align: center;
}
.pw{
    text-align: center;
    font-size: 12px;
    margin-top: -15px;
    
}
.pw a:nth-of-type(2){
    margin-left: 22px;
}
li div span{
    color: rgb(24, 226, 68);
}
.login{
    margin: 10px 170px;
}
.login div.alert{
    width: 230px;
    height: 18px;
    margin-left: 75px;
}
a{
    text-decoration: none;
    color: rgb(24, 226, 68);
}
a:hover{
    text-decoration-line: underline;
}